ul {
    list-style-type: none;
    margin: 0;
}

footer {
    font-style: italic;
}

.expRemain {
    font-style: italic;
}

.top-buffer { 
    margin-top: 5px; 
}

.bottom-buffer { 
    margin-bottom: 5px; 
}

 #upgradableStatMessage {
    font-style: italic; 
    font-size: small;
}

#detailMonster {
    font-style: italic; 
    font-size: small;
}
