ul {
    list-style-type: none;
    margin: 0;
}

footer {
    font-style: italic;
}

.title {
    font-weight: bold;
}

.expRemain {
    font-style: italic;
}

.stuffName {
    font-style: italic;
}

.top-buffer { 
    margin-top: 5px; 
}

.top-buffer-sm { 
    margin-top: 2px; 
}

.bottom-buffer { 
    margin-bottom: 5px; 
}

.bm-sm { 
    margin-bottom: 2px; 
}

.progress {
    position: relative;
}
  
.progress-bar-text {
    position: absolute;
    text-align: center;
    line-height: 15px; /* line-height should be equal to bar height */
    overflow: hidden;
    color: rgb(0, 0, 0);
    right: 0;
    left: 0;
    top: 0;
}

.progress-bar-text-player {
    position: absolute;
    text-align: center;
    line-height: 20px; /* line-height should be equal to bar height */
    overflow: hidden;
    color: rgb(0, 0, 0);
    right: 0;
    left: 0;
    top: 0;
}

 #upgradableStatMessage {
    font-style: italic; 
    font-size: small;
}

#detailMonster {
    font-style: italic; 
    font-size: small;
}

#playerExpPB {
    background-color: #bf0eff!important
}

.border-custom-xp{
    border-color: #bf0eff!important
}

#statLess{
    color: red;
    font-weight: bold;
}

#statMore{
    color: green;
    font-weight: bold;
}

#monsterList {
    height:505px;
    overflow-y: scroll;
  }